.btn {
    color: #301504;
    background-color: #FCB900;
}

.btn:hover {
    color: grey;
}

.list-group-item:hover {
    cursor: pointer;
}

#btn-fix {
    padding-top: 18px;
}

.create {
    margin-top: 10px;
    margin-bottom: 10px;
}

.candidates {
    border: 1px solid #D3D3D3;
    border-radius: 15px;
}