.btn {
    color: #301504;
    background-color: #FCB900;
}

.btn:hover {
    color: grey;
}

.create {
    margin-top: 10px;
}

.candidates {
    border: 1px solid #D3D3D3;
    border-radius: 15px;
}